/* I hope I am doing this right. Also, All your base is belong to us. */
/*
p {
 color: #ff0000;
 background-color: #0000ff;
}
*/

h1 {
color: #FFFFFF;
background-color: #80CBB3;
}

a {
  color: #ff0000;
}

a:link {
  color: #ff0000;
}

a:visited {
  color: #0000ff;
}

a:active {
  color: #00ffff;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#reginald {
 color: #00ff00;
 background-color: #000000;
}

.specialp {
  color: #00ff00;
  background-color: #FFFFFF;
}

footer {
  color: #ffffff;
  background-color: #ff0000;
}

#divexample {
  color: #0000ff;
  background-color: #ffff00;
}

.spanstyle {
  color: #00ff00
}
