body {
  background-color: #999999;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  top: 50%;
  color: white;
  right: 50%;
  background-color: grey;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 0px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 10px;
}

#Video {
  position: absolute;
  width: 1200px;
  margin: 0px;
  padding: 0px;
}

nav {
grid-column: span 12;
padding: 0px;
position: absolute;
bottom: 5%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  width: 12, 2fr;
  padding: 0px;
  text-decoration: underline;
  margin-right: 215px;
}

nav li a {
  display: block;
  padding: 1em;
  color: #black;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin: 0px;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

nav li a:hover {
  background-color: #grey;
  color: black;
}

main {
  grid-column: span 12;
  position: relative;
}

footer {
  grid-column: span 12;
  background-color: #154865;
  color: white;
  text-transform: uppercase;
  padding-left: 24px;
  font-size: 24px;
  font-weight: bold;
}

.roundedbox {
  padding: 2px;
  width: 1192px;
  border: 2px solid #999;
  border-radius: 10px;
}

.dropshadowbox {
  padding: 10px;
  margin: 20px;
  width: 230px;
  border: 1px solid #999;
  background-color: #ccc;
  box-shadow: 0px 10px 10px #666; /* x, y, blur, color */
}

.textshadowbox {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  color: #white;
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
}
